main.svelte-1yhathj{margin:auto;width:80vw;height:70vh;display:grid;grid-template-columns:repeat(2,50%);overflow:hidden}h1.svelte-1yhathj{color:red}h2.svelte-1yhathj{color:#00f1f5}div.svelte-1yhathj{margin:auto}
