main.svelte-rm6k6h{margin:auto;width:80vw;height:70vh;display:grid;grid-template-columns:repeat(2,50%);overflow:hidden}h1.svelte-rm6k6h{color:red}h2.svelte-rm6k6h{color:#00f1f5}h3.svelte-rm6k6h{color:brown}div.svelte-rm6k6h{margin:auto}
